/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Fonts
 *
 **/

* {
    font:                        "JetBrains Mono Nerd Font Propo 10";
    background:                  #2D1B14;
    background-alt:              #462D23;
    foreground:                  #FFFFFF;
    selected:                    #E25F3E;
    active:                      #716251;
    urgent:                      #934A1C;
}
