/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Fonts
 *
 **/

* {
    font:                        "JetBrains Mono Nerd Font Propo 10";
    background:                  #231419;
    background-alt:              #2D1E23;
    foreground:                  #FFFFFF;
    selected:                    #426647;
    active:                      #2E3F34;
    urgent:                      #D08261;
}
